$fontStack:"Palatino Linotype", "Book Antiqua", Palatino, serif;
$backgroundImage:url("../img/header_background_v2.jpg") no-repeat top;
$btnColor:#0401AC;
$captionFontColor:#607D8B;
$headerFontColor:#ff5722;
$bgColor:#EFEFEF;
$articleBgColor:white;
$bgFontColor:#757575;
$descriptionFontColor:#9d9b9b;
$inputBorderColor:$captionFontColor;