$fontStack: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$backgroundImage:url("../img/header_background_v1.jpg") no-repeat top;
$btnColor:#01ACAC;
$captionFontColor:#0097AE;
$headerFontColor:white;
$bgColor:white;
$articleBgColor:#EFEFEF;
$bgFontColor: black;
$descriptionFontColor:red;
$inputBorderColor:#607D8B;